* {
    margin: 0;
    padding: 0;
}


body {
    font-size: 1em;
    line-height: 130%;
    font-family: monospace;
    /*color: gray;*/
    width: 96%;
    height: 100%;
    text-align: left;
    margin: 0px auto;
}

#header {
    height: 50px;
}

#header h1 {
    line-height: 50px;
    font-size: 1.3em;
    font-family: Verdana, Sans-serif;
}

#login, #request, #result {
    padding: 1em;
    border-bottom: solid 1px gray;
}

#footer {
    height: 50px;
    text-align: right;
}

ul {
    list-style: none;
}

p, li {
    margin: 5px 0;
}

address {
    font-family: Verdana, Sans-serif;
    font-size: 70%;
    line-height: 50px;
    color: silver;
}

table {
    border: 1px #E3E3E3 solid;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 90%;
}

table th {
    padding: 5px;
    border: #E3E3E3 solid;
    border-width: 0 0 1px 1px;
    background: #F5F5F5;
    font-weight: bold;
    line-height: 120%;
    text-align: center;
}
table td {
    padding: 5px;
    border: 1px #E3E3E3 solid;
    border-width: 0 0 1px 1px;
    text-align: left;
}
